pymongo 
nltk 
feedparser 
numpy 
sympy 
scipy 
matplotlib 
beautifulsoup4 
requests 
lxml 
pandas 
dash 
psycopg2-binary
flask 
flask-wtf 
flask-table 
flask-login 
flask-sqlalchemy 
virtualenv 
httplib2 
urllib3 
requests 
